<p>task-list works!</p>
<p *ngIf="tasks.length === 0">No Tasks Available</p>

<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="title">
  <input type="date" formControlName="dueDate">

  <button type="submit" (click)="onSubmit()" > Submit</button>
</form>
<ng-container *ngIf="tasks.length > 0">
  <label>Task Status</label>
    <select [(ngModel)]="taskFilter">
      <option value="">All</option>
      <option value="Incomplete">Incomplete</option>
      <option value="In Progress">In Progress</option>
      <option value="Completed">Completed</option>
    </select>
  <div *ngFor="let task of tasks | filterStatus : taskFilter" onHoverColorChange>
  <app-task-detail [task]="task" (saveTask)="onSave($event)"></app-task-detail>
</div>
</ng-container>